body {
  background-image: linear-gradient(#000000, #000000);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html {
    height: 100%;
}

.header {
  padding: 20px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 30px;
}

.center-space {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo:hover {
  transform: scale(1.1);
}

#logo{
  transition: transform .2s;
}
#logo{
  max-width: 40%;
  max-height: auto;
}

#cat {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

#cat:hover {
  transform: scale(1.1);
}

#cat {
  width: 100px;
  height: 100px;
}

.center{
  border: ridge #020202 5px;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #0f0f0f;
}

.socials{
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#Card{
  width: 130px;
  display: block;
  display: inline-block;
}
#Card {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

#Card:hover {
  transform: scale(0.95); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#Card2{
  width: 120px;
  display: block;
  display: inline-block;
}
#Card2 {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

#Card2:hover {
  transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#minecraft {
  color: white;
  font-family: "mojanglesregular", sans-serif;
}
#comic {
  color: white;
  font-family: "COMIC", sans-serif
}
@font-face {
    font-family: 'mojanglesregular';
    src: url('mojangles-webfont.woff2') format('woff2'),
         url('mojangles-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face{
    font-family: COMIC;
    src: url(fonts/COMIC.TTF);
}
h1 {
  color: white;
  font-family: sans-serif;
  font-size: 50px;
}
h3 {
  color: white;
  font-family: sans-serif;
}
p {
  color: white;
  font-family: sans-serif;
  font-size: 30px;
}

.rainbow {
  animation: colorRotateRainbow 6s linear 0s infinite;
}

@keyframes colorRotateRainbow {
  from {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  25% {
    color: #ffff00;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #0000ff;
  }
  100% {
    color: #8000ff;
  }
}

.pink {
  animation: colorRotatePink 6s linear 0s infinite;
}

@keyframes colorRotatePink {
  from {
    color: #ffd2de;
  }
  10% {
    color: #ffb0c6;
  }
  50% {
    color: #ff88a9;
  }
  75% {
    color: #ffb0c6;
  }
  100% {
    color: #ffd2de;
  }
}
#construction {
  width: 100%;
  height: auto;
}
.alert {
  padding: 10px;
  background-color: #38006a;
  color: white;
}
.alert {
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 42px;
  line-height: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: 17px;
    width: 100%;
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 5s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}